@import "tailwindcss";

:root {
  @apply font-rubik bg-[url('/images/pattern-bg-mobile.png')] bg-cover bg-no-repeat text-white;
}

@theme {
  --color-very-dark-gray: hsl(0, 0%, 17%);
  --color-dark-gray: hsl(0, 0%, 59%);

  --font-rubik: "Rubik", sans-serif;
}

h1 {
  @apply text-3xl font-medium;
}